@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

:root {
  --base: #301602;
  --base-secondary: #706255;
  --accent: #ff8400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-size: 18px;
  color: var(--base);
  line-height: 1.3;
  padding-top: 16px;
  padding-bottom: 24px;
}

#wave-decoration {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

header,
main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  width: 800px;
  max-width: 90%;
  margin-top: 94px;
}

header span {
  display: block;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 22px;
  letter-spacing: -0.2px;
}

main {
  margin-bottom: 125px;
}

h1 {
  font-weight: 700;
  margin-bottom: 22px;
  font-size: 48px;
  line-height: 1;
}

.subtitle {
  width: 90%;
  margin: 0 auto;
  color: var(--base-secondary);
  margin-bottom: 22px;
}

li {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

li svg {
  fill: var(--accent);
  color: white
  width: 24px;
  height: 24px;
}

li p {
  color: var(--base-secondary);
}

li span {
  font-weight: 700;
  color: var(--base);
}

#why-us {
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

h3 {
  color: var(--accent);
  mix-blend-mode: difference;
}

#contact {
  margin-top: -48px;
}

#email-button {
  display: block;
  width: 200px;
  margin: 8px auto 0 auto;
  border: 1px solid #ffffff80;
  padding: 12px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  background-color: var(--accent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.35s ease-in-out;
  font-weight: 700;
}

#email-button:hover {
  background-color: var(--base);
}

iframe {
  opacity: 95%;
  max-width: 90%;
  margin-top: -32px;
}

#loader-container {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #1a1a1a;
  border-color: #013100 transparent #013100 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }

  ul li p {
    text-align: left;
  }
}

@media screen and (max-width: 840px) {
  #booking {
    margin-top: 32px;
  }

  #calendly-container {
    border: 1px solid #1a1a1a15;
    width: 92%;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 42px;
  }

  iframe {
    width: 100%;
    margin-top: 0;
  }

  #contact {
    margin-top: 32px;
  }
}